body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}


.container {
background: white;
width: 350px;
margin: 80px auto;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


input {
width: 93%;
padding: 10px;
margin-bottom: 10px;
}


button {
width: 100%;
padding: 10px;
background-color: #11b41f;
color: white;
border: none;
cursor: pointer;
}


button:hover {
background-color: #218838;
}


ul {
padding: 0;
}


li {
list-style: none;
padding: 8px;
border-bottom: 1px solid #ddd;
}